A2.2/devanagari/*
A2.2/A2.2-Data/*
ass1/Assignment_1/data/*
ass1/Assignment_1/HARSHIT/*
ass1/Assignment_1/WO/*
ass1.2/Assignment_1.2/data/*
ass1.2/Assignment_1.2/outputs/*
ass1.2/Assignment_1.2/testcases/*


